form
  .form-row.mx-2.align-items-center
    .col-sm-4
      label(for="sortByControl") Sort by:
    .col-sm-8
      select.custom-select#sortByControl(onchange="sortByChanged()")
        option(value="0" selected) All
        option(value="1") Affordable
        option(value="2") Best Rated
        option(value="3") Open Now